/* Common styles for header elements */
.header,
.parag,
.Lparag {
	font-family: Inter;
	text-align: center;
}

/* Header style */
.header {
	color: var(--Colors-Primary-Slate-900, #1c222b);
	font-size: 36px;
	font-weight: 600;
	line-height: 48px;
	letter-spacing: -1.75px;
}

/* Paragraph style */
.parag {
	color: var(--Colors-Primary-Slate-700, #3d4a5c);
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: -0.3px;
}

/* Light Paragraph style */
.Lparag {
	color: var(--Colors-Base-00, #fff);
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: -0.4px;
}
